<div class = "row">
  <div class = "col-md-8">
    <h3>Completed Trades (last 7 days):</h3>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Completed</th>
        <th>Seller Name</th>
        <th>Seller Evidence</th>
        <th>Buyer Name</th>
        <th>Buyer Evidence</th>
        <th>View Post</th>
      </tr>
      </thead>
      <tbody>
      <% @trades.each do |trade| %>
        <% if trade.time > 7.days.ago %>
          <tr>
            <td><%= trade.post.name %></td>
            <td><%= trade.post.subcategory.name %></td>
            <td><%= trade.post.quantity %></td>
            <td>£<%= number_with_precision(trade.post.price, precision: 2) %></td>
            <td><%= (trade.time).strftime("%H:%M %d/%m/%y") %></td>
            <td><%= trade.post.trader.username %></td>
            <td><%= link_to 'View', completed_seller_path(subcategory: trade.post.subcategory, trader: trade.post.trader),method: :post, class: "btn btn-success" %></td>
            <td><%= trade.trader.username %></td>
            <td><%= link_to 'View', completed_buyer_path(subcategory: trade.post.subcategory, trader: trade.trader),method: :post, class: "btn btn-success" %></td>
            <td><%= link_to "View", trade, class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      <% end %>

      </tbody>
    </table>
  </div>

  <div class = "col-md-4">
    <%= link_to 'Export full list to excel', completed_export_path ,method: :post, class: "btn btn-info btn-block"%>
  </div>
</div>